.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

.App-logo {
  height: 1.5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 11.5rem);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}

img {
  margin: 10px;
  width: auto;
  height: auto;
}